<h1>Kaminari threading bug exposer</h1>

<p>Type into the input below, roughly after every second character, you should see a 500 error.</p>

<input id="search"/>

<hr/>

<div id="results">
  <%= render partial: 'posts' %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
